
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15vw;
}

.h1 {
  font-family: 'Roboto', sans-serif;
}

.Search {
  width: 400px;
}

.Search__input {
  border: 1px solid #212121;
  padding: 0.25rem;
  width: 100%;
  margin-bottom: 2rem;
}

.List {
  /* padding: 0 20vw; */
}

.ListItem {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
  padding: 0.5rem 1rem;
  font-family: 'Open Sans', sans-serif;
}

.ListItem__id {
  flex: 1;
  color: #616161;
  font-weight: 500;
}

.ListItem__name {
  flex: 3;
}

.ListItem__username {
  flex: 2;
  color: #616161;
  font-size: 0.75rem;
}